bin/
obj/
wwwroot/_framework/
.vs/
wwwroot/_framework/
published/
docs/_framework/
WinForms/OpenSource.DCTimeLineForWinForm/bin/
WinForms/OpenSource.DCTimeLineForWinForm/obj/
WinForms/OpenSource.DCTimeLineForWinForm/.vs/
*.user
